[submodule "l10n-mexico"]
	path = l10n-mexico
	url = git@github.com:jarsa/l10n-mexico.git
	branch = 15.0

[submodule "partner-contact"]
	path = partner-contact
	url = git@github.com:jarsa/partner-contact.git
	branch = 15.0

[submodule "social"]
	path = social
	url = git@github.com:jarsa/social.git
	branch = 15.0

[submodule "transport-management-system"]
	path = transport-management-system
	url = git@github.com:jarsa/transport-management-system.git
	branch = 15.0

[submodule "operating-unit"]
	path = operating-unit
	url = git@github.com:jarsa/operating-unit.git
	branch = 15.0
